<a href="https://colab.research.google.com/github/shashwat-2077/MLnow_GirlScript-/blob/main/02_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [9]:
cd '/content/drive/MyDrive/LiveCodeSession/02_EDA/student'

/content/drive/MyDrive/LiveCodeSession/02_EDA/student

In [11]:
ls

student-mat.csv  student-merge.R  student-por.csv  student.txt

In [14]:
import pandas as pd #working with csv or excel files
import numpy as np #working with numercal/ arrays/ tensors
from tensorflow import keras #API/ library
import os #using os commands between the python language

In [ ]:
mathData = pd.read_csv('student-mat.csv', sep = ';') #load the csv file as dataframe

In [ ]:
mathData.tail()

In [ ]:
mathData.head(10) #print the first ten rows of the dataframe

## Data Processing 

# Categorical to numerical value conversion

In [ ]:
# unique classes/categories in every column

# variable.column.unique() --> all {column} values from the {variable} dataframe and print out the unique ones.

print (f'school: {mathData.school.unique()}')
print (f'sex: {mathData.sex.unique()}')
print (f'address: {mathData.address.unique()}')
print (f'Mjob: {mathData.Mjob.unique()}')
print (f'Fjob: {mathData.Fjob.unique()}')
print (f'higher: {mathData.higher.unique()}')

Considering the 
'''
mathData['school'] = mathData['school'].apply({'GP':1, 'MS':0}.get)
'''

Access the column `school` from the variable `mathData` (which has the pandas dataframe).
once we access it, since we are using a dictionary we will assign the string / categorical values with numeric data.

Meaning --> Replace `GP` with 1
Meaning --> Replace `MS` with 2

In [ ]:
#conver the categories into numbers

#binary valued

mathData['school'] = mathData['school'].apply({'GP':1, 'MS':0}.get)
mathData['sex'] = mathData['sex'].apply({'F':1, 'M':0}.get)
mathData['address'] = mathData['address'].apply({'U':1, 'R':0}.get)
mathData['higher'] = mathData['higher'].apply({'yes':1, 'no':0}.get)

#multi-valued

mathData['Mjob'] = mathData ['Mjob'].apply({'at_home':1, 'health':2, 'other':3, 'services':4, 'teacher':5}.get)
mathData['Fjob'] = mathData['Fjob'].apply({'at_home':1, 'health':2, 'other':3, 'services':4, 'teacher':5}.get)

mathData.head(15)